<form class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">New Client Registration</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1m"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1m">First name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1n"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1n">Last name</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="email-signup">email:</label>
                                    <input type="text" id="email-signup" />
                                </div>
                                <div>
                                    <label for="password-signup">password:</label>
                                    <input type="password" id="password-signup" />
                                </div>
                                <div>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example8" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example8">Address</label>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1n1"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1n1">Enter your Vehicle's VIN
                                                number:</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <select class="select">
                                            <option value="1">Car Make</option>
                                            <option value="2">Option 1</option>
                                            <option value="3">Option 2</option>
                                            <option value="4">Option 3</option>
                                        </select>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <select class="select">
                                            <option value="1">Car Model</option>
                                            <option value="2">Option 1</option>
                                            <option value="3">Option 2</option>
                                            <option value="4">Option 3</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">

                                    <select class="select">
                                        <option value="1">Car Year</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                    </select>

                                </div>
                            </div>



                            <div class="d-flex justify-content-end pt-3">
                                <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{{!-- <form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form> --}}

<script src="/javascript/login.js"></script>