* {
  font-family: "Libre Baskerville"; }

body {
  background-color: white; }

.header-text, footer {
  color: whitesmoke; }

header, footer, button {
  background-color: #2c566e; }

.welcome-btn {
  border: 2px solid #2c566e; }

.welcome-btn h5 {
  color: #2c566e; }

.welcome-btn:hover {
  transform: scale(1.03);
  border: 3px solid #2c566e; }

.welcome-header {
  font-weight: 300; }

header {
  font-weight: 300; }

table, th, td {
  border: 1px solid #2c566e; }

.miles-input {
  border: 1px solid #2c566e;
  color: #2c566e; }
